.nav-link:hover {
    color: black;
}
.container-fluid .nav_bar {
margin-left: 100px;
color: rgb(255, 0, 0) ; 
}





@media only screen and (max-width: 768px) {
    .container-fluid .navbar-brand {
                            padding-left: 0rem;                     
    }}